<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrbaCommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Properties.Settings.GD1C2014ConnectionString"
            connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2014;Persist Security Info=True;User ID=gd;Password=gd2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <FrbaCommerce.Properties.Settings>
            <setting name="fecha" serializeAs="String">
                <value>2013-06-01</value>
            </setting>
        </FrbaCommerce.Properties.Settings>
    </applicationSettings>
</configuration>